In [2]:
import re
import pandas as pd

1. Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [2]:
text = 'Python Exercises, PHP exercises.'
pattern = r'\W'
list_of_sp_char = re.findall(pattern,text)

for i in list_of_sp_char:
    text = text.replace(i,':')

print(text)

Python:Exercises::PHP:exercises:

2. Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [9]:
dict = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

df = pd.DataFrame(dict)
df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-zA-Z\s]', '')

df

C:\Users\B.S.Khajamoinuddin\AppData\Local\Temp\ipykernel_292\1003130318.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-zA-Z\s]', '')

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

3. Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [5]:
pat1 = r'\b\w{4,}\b'
pat_com = re.compile(pat1)

def finda(char):
    finding_all4_above = pat_com.findall(char)
    return finding_all4_above

string = 'Data science is the study of data to extract meaningful insights for business.'
all_4_words = finda(string)
all_4_words

['Data',
 'science',
 'study',
 'data',
 'extract',
 'meaningful',
 'insights',
 'business']

4. Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [ ]:
pat2 = r'\b\w{3,5}\b'
pat_com1 = re.compile(pat2)

def finda1(char):
    finding_all3_5 = pat_com1.findall(char)
    return finding_all3_5

string = 'Data science is the study of data to extract meaningful insights for business.'
all_3_5_words = finda1(string)
all_3_5_words

5. Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [ ]:
pat3 = r'[()]+'
pat_com2 = re.compile(pat3)

def remove_braces(list_s):
    s_no_braces = [pat_com2.sub('', i) for i in list_s]

    return s_no_braces

list_s = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result = remove_braces(list_s)
print(result)

6. Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

In [ ]:
pat4 = r'\(([^())]+)\)'
pat_com3 = re.compile(pat4)

def remove_braces_l(list_s):
    s_no_braces_l = [pat_com3.sub('', i) for i in list_s]
    return s_no_braces_l

list_sl = ["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello(Data Science World)", "Data(Scientist)"]
result = remove_braces_l(list_sl)
print(result)

7. Write a regular expression in Python to split a string into uppercase letters.

In [6]:
string = "ImportanceOfRegularExpressionsInPython"
pat5 = r'(?=[A-Z])'
result = re.split(pat5, string)
result.pop(0)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

8. Create a function in python to insert spaces between words starting with numbers.

In [7]:
string_sam = "RegularExpression1IsAn2ImportantTopic3InPython"
pat6 = r'(?=[0-9])'
result_ = re.sub(pat6, ' ',string_sam)
print(result_)

RegularExpression 1IsAn 2ImportantTopic 3InPython

9. Create a function in python to insert spaces between words starting with capital letters or with numbers.

In [ ]:
string_samp = "RegularExpression1IsAn2ImportantTopic3InPython"
pat7 = r'(?=[A-Z0-9])'
result__ = re.sub(pat7, ' ',string_samp)
print(result__)

10. Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [13]:
df_ = pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')

df_.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [19]:
df_['first_five_letters'] = df_['Country'].apply(lambda x: x[0:6])

df_['first_five_letters']

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Country_in_5,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo,Togo

11. Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [ ]:
str = 'alpHabEt abc_def_hij 123oop!'
re.findall(r'\w', str)

12. Write a Python program where a string will start with a specific number.

In [ ]:
def func(snum, text):
    pat = re.compile(fr'\s{snum}[^\s]*')
    result = pat.findall(text)
    return result

func(2,'alpHabEt 2abc def_hij 123oop')

13. Write a Python program to remove leading zeros from an IP address

In [ ]:
ip = "27.05.090.0106"
new_ip = re.sub('\.[0]*', '.', ip)
print(new_ip)

14. Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [ ]:
pat_d = r'\b([A-Za-z]+ \d{1,2}(?:th|st|nd|rd)? \d{4})\b'

In [ ]:
text = open('new.txt', 'r')
content = text.read()
text.close()
content

re.findall(pat_d,content)

15. Write a Python program to search some literals strings in a string.

In [ ]:
x = 'The quick brown fox jumps over the lazy dog.'

pat = ['fox','dog', 'horse']

for i in pat:
    print(re.findall(i,x))

16. Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [ ]:
y = 'The quick brown fox jumps over the lazy dog.'

patt = 'fox'


print(re.search(patt,y))

17. Write a Python program to find the substrings within a string.

Sample text : 'Python exercises, PHP exercises, C# exercises' 

Pattern : 'exercises'.

In [ ]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
print(re.findall(pattern,text))

18. Write a Python program to find the occurrence and position of the substrings within a string.

In [ ]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for p in re.finditer(pattern, text):
    x = p.start()
    y = p.end()
    print(pattern,x,':',y)

19. Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [ ]:
date = 'I joined on 2023-29-12'
pat_D = r'(\d{4})-(\d{2})-(\d{2})'
print(re.sub(pat_D, r'\3-\2-\1',date))

20. Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [ ]:
pate = r'\d+\.\d{1,2}\b'
patt = re.compile(pate)
int = '01.12 0132.123 2.31875 145.8 3.01 27.25 0.25'

patt.findall(int)

21. Write a Python program to separate and print the numbers and their position of a given string.

In [ ]:
str1 = 'I live in 62nd street of Chennai-01 and my postal code is 500010, and it is near 300 ft. clock tower'
pattt = r'\d+'

z = re.finditer(pattt,str1)
for i in z:
    print(i.group(), i.start())

22. Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [4]:
str2 = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
num_list = re.findall(r'\d+',str2)
num_list
new_num = list(map(int, num_list))
max(new_num)

950

23. Create a function in python to insert spaces between words starting with capital letters.

In [8]:
str3 = 'RegularExpressionIsAnImportantTopicInPython'

def func(n):
    pat = '(?=[A-Z])'
    return re.sub(pat,' ',n)

func(str3)

' Regular Expression Is An Important Topic In Python'

24. Python regex to find sequences of one upper case letter followed by lower case letters

In [6]:
str3 = 'Python REGex to Find Sequences OF One uPPer case Letter followed BY lower case letters'
pat3 = r'\b[A-Z]{1}[a-z]+'
res = re.findall(pat3, str3)
print(res)

['Python', 'Find', 'Sequences', 'One', 'Letter']

25. Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [11]:
pat_O = r'\b(\w+)(\s+\1)+'
stre = 'Hello hello world world'
reslt = re.sub(pat_O, r'\1' , stre)
print(reslt)

Hello hello world

26. Write a python program using RegEx to accept string ending with alphanumeric character.

In [4]:
stringg = input('Enter a string with alphanumeric:')
pat_aplhanum = r'^.*[A-Za-z0-9]$'
resulT= re.match(pat_aplhanum, stringg)

if resulT:
    print(resulT, 'Acctpted')
else:
    print(resulT, 'Rejected')

Enter a string with alphanumeric:jol7
<re.Match object; span=(0, 4), match='jol7'> Acctpted

27. Write a python program using RegEx to extract the hashtags.

In [6]:
samp_tex = '"""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""'
pat_hash = r'#\w+\b'
res_hash = re.findall(pat_hash, samp_tex)

print(res_hash)

['#Doltiwal', '#xyzabc', '#Demonetization']

28. Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

In [3]:
paT = r'<U[+]\w+>'
sTr = '@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders'

resulT = re.sub(paT, '', sTr)
print(resulT)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

29. Write a python program to extract dates from the text stored in the text file.

In [6]:
pat_ext= r'\d{2}-\d{2}-\d{4}'

In [7]:
text_file = open('new_text.txt', 'r')
contents = text_file.read()
text_file.close()
contents

re.findall(pat_ext,contents)

['12-09-1992', '15-12-1999']

30. Create a function in python to remove all words from a string of length between 2 and 4.

In [12]:
pat_exc = r'\W*\b\w{2,4}\b'
pat_com = re.compile(pat_exc)
sam = 'The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly.'
result_exc = pat_com.sub('', sam)
print(result_exc)

 following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.