# Internship Number: DS2312
# WEB SCRAPING-ASSIGNMENT4

In [5]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support.ui import WebDriverWait

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 

A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [29]:
#setting a driver
driver = webdriver.Chrome()

In [30]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos#Top_videos')

In [31]:
vid = []
for i in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]//td[1]'):
    vid.append(i.text)

In [33]:
ytr = []
for i in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]//td[2]'):
    ytr.append(i.text)

In [35]:
upl = []
for i in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]//td[4]'):
    upl.append(i.text)

In [36]:
view = []
for i in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]//td[3]'):
    view.append(i.text)

In [44]:
ran = []
for i in range(1,len(upl)+1):
    ran.append((i))

In [48]:
import re
video = []
for i in vid:
    name = re.sub(r'\[\d+\]', '', i)
    video.append(name)

In [50]:
youtube = pd.DataFrame({'Rank':ran,'Name':video,'Artist':ytr,'Upload Date':upl,'Views':view})

In [51]:
youtube

,Rank,Name,Artist,Upload Date,Views
0,1,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.09
1,2,"""Despacito""",Luis Fonsi,"January 12, 2017",8.38
2,3,"""Johny Johny Yes Papa""",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.87
3,4,"""Bath Song""",Cocomelon - Nursery Rhymes,"May 2, 2018",6.62
4,5,"""Shape of You""",Ed Sheeran,"January 30, 2017",6.20
5,6,"""See You Again""",Wiz Khalifa,"April 6, 2015",6.17
6,7,"""Wheels on the Bus""",Cocomelon - Nursery Rhymes,"May 24, 2018",5.88
7,8,"""Phonics Song with Two Words""",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.70
8,9,"""Uptown Funk""",Mark Ronson,"November 19, 2014",5.15
9,10,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",5.07
10,11,"""Gangnam Style""",Psy,"July 15, 2012",5.05
11,12,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.58
12,13,"""Dame Tu Cosita""",Ultra Records,"April 5, 2018",4.55
13,14,"""Axel F""",Crazy Frog,"June 16, 2009",4.34
14,15,"""Sugar""",Maroon 5,"January 14, 2015",4.00
15,16,"""Counting Stars""",OneRepublic,"May 31, 2013",3.97
16,17,"""Baa Baa Black Sheep""",Cocomelon - Nursery Rhymes,"June 25, 2018",3.96
17,18,"""Roar""",Katy Perry,"September 5, 2013",3.96
18,19,"""Lakdi Ki Kathi""",Jingle Toons,"June 14, 2018",3.91
19,20,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.85
20,21,"""Sorry""",Justin Bieber,"October 22, 2015",3.77
21,22,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.73
22,23,"""Humpty the train on a fruits ride""",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.73
23,24,"""Shree Hanuman Chalisa""",T-Series Bhakti Sagar,"May 10, 2011",3.69
24,25,"""Dark Horse""",Katy Perry,"February 20, 2014",3.67
25,26,"""Perfect""",Ed Sheeran,"November 9, 2017",3.67
26,27,"""Let Her Go""",Passenger,"July 25, 2012",3.61
27,28,"""Faded""",Alan Walker,"December 3, 2015",3.59
28,29,"""Girls Like You""",Maroon 5,"May 31, 2018",3.56
29,30,"""Lean On""",Major Lazer Official,"March 22, 2015",3.55

2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/. 

You need to find following details: 

A) Series 
B) Place 
C) Date 
D) Time 


Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [3]:
#setting a driver
driver = webdriver.Chrome()

In [4]:
driver.get('http://www.bcci.tv/')

In [6]:
fixt = driver.find_element(By.XPATH,'//*[@id="imw-international-men"]/a[2]')
fixt.click()

In [9]:
ser = []
for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
    ser.append(i.text)

In [11]:
date = []
for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
    date.append(i.text)

In [13]:
time = []
for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
    time.append(i.text)

In [15]:
place = []
for i in driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]'):
    place.append(i.text)

In [17]:
matches_bcci = pd.DataFrame({'Series':ser,'Place':place,'Date':date,'Time':time})

In [18]:
matches_bcci

,Series,Place,Date,Time
0,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",9:30 AM IST
1,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
2,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
3,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

3. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ 
    
You have to find following details: 

A) Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion) 

Note: - From statisticstimes home page you have to reach to economy page through code.

In [19]:
#setting a driver
driver = webdriver.Chrome()

In [20]:
driver.get('https://www.statisticstimes.com/')

In [25]:
eco = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
eco.click()

eco_sta = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
eco_sta.click()

gdp = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp.click()

In [26]:
time.sleep(2)

In [27]:
rank = []
for i in driver.find_elements(By.XPATH,'//td[@class="data1"]'):
    rank.append(i.text)

In [30]:
state = []
for i in driver.find_elements(By.XPATH,'//td[@class="name"]'):
    state.append(i.text)

In [37]:
gdp_2122 = []
for i in driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]'):
    gdp_2122.append(i.text)

In [38]:
gdp_2223 = []
for i in driver.find_elements(By.XPATH,'//td[@class="data"][1]'):
    gdp_2223.append(i.text)

In [42]:
share_2122 = []
for i in driver.find_elements(By.XPATH,'//td[@class="data"][2]'):
    share_2122.append(i.text)

In [44]:
gdp_bil = []
for i in driver.find_elements(By.XPATH,'//td[@class="data"][3]'):
    gdp_bil.append(i.text)

In [48]:
gdp_Ind = pd.DataFrame({'Rank':rank[0:33],'State':state[0:33],' GSDP(21-22)- at current prices':gdp_2122[0:33],' GSDP(22-23)- at current prices':gdp_2223[0:33],'Share(21-22)':share_2122[0:33],'GDP($ billion)':gdp_bil[0:33]})

In [49]:
gdp_Ind

,Rank,State,GSDP(21-22)- at current prices,GSDP(22-23)- at current prices,Share(21-22),GDP($ billion)
0,1,Maharashtra,"3,108,022",-,13.24%,417.163
1,2,Tamil Nadu,"2,071,286","2,364,514",8.82%,278.011
2,3,Uttar Pradesh,"1,974,532","2,257,575",8.41%,265.024
3,4,Karnataka,"1,962,725","2,241,368",8.36%,263.440
4,5,Gujarat,"1,937,066",-,8.25%,259.996
5,6,West Bengal,"1,363,926","1,554,992",5.81%,183.068
6,7,Rajasthan,"1,218,193","1,413,620",5.19%,163.507
7,8,Madhya Pradesh,"1,136,137","1,322,821",4.84%,152.494
8,9,Andhra Pradesh,"1,133,837","1,317,728",4.83%,152.185
9,10,Telangana,"1,128,907","1,313,391",4.81%,151.523
10,11,Kerala,"932,470",-,3.97%,125.157
11,12,Delhi,"904,642","1,043,759",3.85%,121.422
12,13,Haryana,"870,665","994,154",3.71%,116.862
13,14,Odisha,"670,881","774,869",2.86%,90.047
14,15,Bihar,"650,302","751,396",2.77%,87.284
15,16,Punjab,"614,227","673,107",2.62%,82.442
16,17,Assam,"412,612","493,167",1.76%,55.381
17,18,Chhattisgarh,"406,416","457,608",1.73%,54.550
18,19,Jharkhand,"358,863","393,722",1.53%,48.167
19,20,Uttarakhand,"272,159","302,621",1.16%,36.530
20,21,Jammu & Kashmir-UT,"199,917","227,927",0.85%,26.833
21,22,Himachal Pradesh,"176,269","195,405",0.75%,23.659
22,23,Goa,"82,604",-,0.35%,11.087
23,24,Tripura,"62,550","72,636",0.27%,8.396
24,25,Chandigarh,"45,635",-,0.19%,6.125
25,26,Puducherry,"44,238",-,0.19%,5.938
26,27,Meghalaya,"38,785","42,697",0.17%,5.206
27,28,Sikkim,"37,557","42,756",0.16%,5.041
28,29,Manipur,"36,594",-,0.16%,4.912
29,30,Arunachal Pradesh,"35,124",-,0.15%,4.714
30,31,Nagaland,"31,913",-,0.14%,4.283
31,32,Mizoram,"27,824",-,0.12%,3.735
32,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.392

4. Scrape the details of trending repositories on Github.com. 

Url = https://github.com/ 
    
You have to find the following details: 
    
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used

In [3]:
#setting a driver
driver = webdriver.Chrome()

In [4]:
driver.get('https://github.com/')

In [5]:
dropd = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
dropd.click()

tren = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
tren.click()

In [6]:
rep = []
for i in driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]'):
    rep.append(i.text)

In [9]:
url = []
for i in driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a'):
    url.append(i.get_attribute('href'))

In [18]:
lang = []
for i in url:
    driver.get(i)
    current_lang = []
    for i in driver.find_elements(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]'):
        current_lang.append(i.text)
    lang.append(current_lang)
lang

[['Python', 'Other'],
 ['Python', 'Shell'],
 ['Python', 'Makefile'],
 ['Python', 'HTML', 'Shell', 'Dockerfile'],
 ['Zig', 'Java', 'C#', 'Go', 'TypeScript', 'JavaScript', 'Other'],
 ['Rust', 'Other'],
 ['Rust', 'LLVM', 'CSS', 'JavaScript', 'Shell', 'Dockerfile'],
 ['JavaScript', 'HTML', 'Go', 'Shell', 'CSS', 'Dockerfile'],
 ['C++', 'Starlark', 'CMake'],
 ['Python'],
 ['Python'],
 [],
 ['TypeScript', 'JavaScript', 'CSS', 'Handlebars', 'Shell', 'HTML', 'Other'],
 ['Rust', 'Shell'],
 ['TypeScript', 'JavaScript', 'Rust', 'CSS', 'Shell', 'HTML'],
 ['Python'],
 ['Python', 'Other'],
 [],
 ['TypeScript', 'JavaScript', 'HTML', 'Makefile'],
 ['Batchfile'],
 ['Go', 'C', 'Shell', 'TypeScript', 'PowerShell', 'C++', 'Other'],
 ['TypeScript', 'SCSS', 'HTML', 'Starlark', 'JavaScript', 'CSS', 'Shell'],
 [],
 [],
 ['TypeScript', 'JavaScript', 'HTML', 'CSS', 'Java', 'Mustache', 'Other']]

In [19]:
from selenium.common.exceptions import NoSuchElementException

In [20]:
des = []
for i in url:
    driver.get(i)

    try:
        desc = driver.find_element(By.XPATH, '//p[@class="f4 my-3"]')
        des.append(desc.text)
    except NoSuchElementException:
        des.append('--')

In [23]:
des

['Implementation of paper - YOLOv9: Learning What You Want to Learn Using Programmable Gradient Information',
 'A collective list of free APIs',
 'The Python Risk Identification Tool for generative AI (PyRIT) is an open access automation framework to empower security professionals and machine learning engineers to proactively find risks in their generative AI systems.',
 '该项目可以让你通过订阅的方式使用Cloudflare WARP+，自动获取流量。This project enables you to use Cloudflare WARP+ through subscription, automatically acquiring traffic.',
 'The distributed financial transactions database designed for mission critical safety and performance.',
 'Rust full node implementation of the Fuel v2 protocol.',
 '🌴 Empowering everyone to build reliable and efficient smart contracts.',
 'Xray panel supporting multi-protocol multi-user expire day & traffic & ip limit (Vmess & Vless & Trojan & ShadowSocks & Wireguard)',
 "lightweight, standalone C++ inference engine for Google's Gemma models.",
 'A framework for prompt tuning using Intent-based Prompt Calibration',
 'Curso para aprender el lenguaje de programación Python desde cero y para principiantes. 75 clases, 37 horas en vídeo, código, proyectos y grupo de chat. Fundamentos, frontend, backend, testing, IA...',
 '🎓 Path to a free self-taught education in Computer Science!',
 'Fuel Network Typescript SDK',
 'Fuel Network Rust SDK',
 'There can be more than Notion and Miro. AFFiNE(pronounced [ə‘fain]) is a next-gen knowledge base that brings planning, sorting and creating all together. Privacy first, open-source, customizable and ready to use.',
 'Accelerate your Hugging Face Transformers 6-7x. Native to Hugging Face and PyTorch.',
 'A natural language interface for computers',
 '--',
 'Lightweight Postgres packaged as WASM into a TypeScript library for the browser, Node.js, Bun and Deno',
 'A Windows and Office activator using HWID / Ohook / KMS38 / Online KMS activation methods, with a focus on open-source code and fewer antivirus detections.',
 'Get up and running with Llama 2, Mistral, Gemma, and other large language models.',
 'Component infrastructure and Material Design components for Angular',
 'This repository contains System Design resources which are useful while preparing for interviews and learning Distributed Systems',
 '👩🏿\u200d💻👨🏾\u200d💻👩🏼\u200d💻👨🏽\u200d💻👩🏻\u200d💻中国独立开发者项目列表 -- 分享大家都在做什么',
 'Joplin - the secure note taking and to-do app with synchronisation capabilities for Windows, macOS, Linux, Android and iOS.']

In [24]:
con = []
for i in url:
    driver.get(i)

    try:
        cont = driver.find_element(By.XPATH, '//*[@id="repo-content-pjax-container"]/div/div/div[2]/div[2]/div/div[5]/div/h2/a/span')
        con.append(cont.text)
    except NoSuchElementException:
        con.append('--')

In [29]:
git = pd.DataFrame({'Name':rep,'Number of Contributors':con,'Description':des, 'Languages used':lang})

In [30]:
git

,Name,Number of Contributors,Description,Languages used
0,WongKinYiu / yolov9,--,Implementation of paper - YOLOv9: Learning Wha...,"[Python, Other]"
1,public-apis / public-apis,--,A collective list of free APIs,"[Python, Shell]"
2,Azure / PyRIT,9,The Python Risk Identification Tool for genera...,"[Python, Makefile]"
3,vvbbnn00 / WARP-Clash-API,--,该项目可以让你通过订阅的方式使用Cloudflare WARP+，自动获取流量。This p...,"[Python, HTML, Shell, Dockerfile]"
4,tigerbeetle / tigerbeetle,52,The distributed financial transactions databas...,"[Zig, Java, C#, Go, TypeScript, JavaScript, Ot..."
5,FuelLabs / fuel-core,48,Rust full node implementation of the Fuel v2 p...,"[Rust, Other]"
6,FuelLabs / sway,106,🌴 Empowering everyone to build reliable and ef...,"[Rust, LLVM, CSS, JavaScript, Shell, Dockerfile]"
7,MHSanaei / 3x-ui,46,Xray panel supporting multi-protocol multi-use...,"[JavaScript, HTML, Go, Shell, CSS, Dockerfile]"
8,google / gemma.cpp,10,"lightweight, standalone C++ inference engine f...","[C++, Starlark, CMake]"
9,Eladlev / AutoPrompt,6,A framework for prompt tuning using Intent-bas...,[Python]
10,mouredev / Hello-Python,--,Curso para aprender el lenguaje de programació...,[Python]
11,ossu / computer-science,137,🎓 Path to a free self-taught education in Comp...,[]
12,FuelLabs / fuels-ts,--,Fuel Network Typescript SDK,"[TypeScript, JavaScript, CSS, Handlebars, Shel..."
13,FuelLabs / fuels-rs,--,Fuel Network Rust SDK,"[Rust, Shell]"
14,toeverything / AFFiNE,--,There can be more than Notion and Miro. AFFiNE...,"[TypeScript, JavaScript, Rust, CSS, Shell, HTML]"
15,MDK8888 / GPTFast,--,Accelerate your Hugging Face Transformers 6-7x...,[Python]
16,KillianLucas / open-interpreter,--,A natural language interface for computers,"[Python, Other]"
17,zksync / credo,26,--,[]
18,electric-sql / pglite,6,Lightweight Postgres packaged as WASM into a T...,"[TypeScript, JavaScript, HTML, Makefile]"
19,massgravel / Microsoft-Activation-Scripts,--,A Windows and Office activator using HWID / Oh...,[Batchfile]
20,ollama / ollama,--,"Get up and running with Llama 2, Mistral, Gemm...","[Go, C, Shell, TypeScript, PowerShell, C++, Ot..."
21,angular / components,716,Component infrastructure and Material Design c...,"[TypeScript, SCSS, HTML, Starlark, JavaScript,..."
22,ashishps1 / awesome-system-design-resources,2,This repository contains System Design resourc...,[]
23,1c7 / chinese-independent-developer,--,👩🏿‍💻👨🏾‍💻👩🏼‍💻👨🏽‍💻👩🏻‍💻中国独立开发者项目列表 -- 分享大家都在做什么,[]
24,laurent22 / joplin,580,Joplin - the secure note taking and to-do app ...,"[TypeScript, JavaScript, HTML, CSS, Java, Must..."

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
following details: 
    
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board

In [34]:
#setting a driver
driver = webdriver.Chrome()

In [35]:
driver.get('https://www.billboard.com/')

In [36]:
chart = driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]')
chart.click()

time.sleep(2)

full = driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
full.click()

In [37]:
song = []
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//h3'):
    song.append(i.text)

In [40]:
lis = []
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//span'):
    lis.append(i.text)

In [42]:
lis = list(filter(None, lis))
lis

['Beyonce',
 '2',
 '1',
 '2',
 'Jack Harlow',
 '1',
 '1',
 '15',
 'Teddy Swims',
 '5',
 '2',
 '28',
 '¥$: Kanye West & Ty Dolla $ign Featuring Rich The Kid & Playboi Carti',
 '3',
 '3',
 '2',
 'Benson Boone',
 '4',
 '3',
 '5',
 'SZA',
 '7',
 '2',
 '62',
 'Taylor Swift',
 '6',
 '1',
 '42',
 'Tate McRae',
 '9',
 '3',
 '23',
 'Zach Bryan Featuring Kacey Musgraves',
 '8',
 '1',
 '26',
 'Doja Cat',
 '12',
 '7',
 '22',
 'Ariana Grande',
 '31',
 '1',
 '6',
 'Noah Kahan',
 '10',
 '10',
 '21',
 'Luke Combs',
 '11',
 '2',
 '48',
 'Tyla',
 '13',
 '7',
 '21',
 'Morgan Wallen',
 '14',
 '1',
 '56',
 '21 Savage',
 '15',
 '5',
 '6',
 'Morgan Wallen',
 '16',
 '7',
 '51',
 'Taylor Swift',
 '18',
 '1',
 '17',
 'Warren Zeiders',
 '24',
 '19',
 '24',
 'Miley Cyrus',
 '17',
 '1',
 '53',
 'Doja Cat',
 '19',
 '1',
 '29',
 'Dua Lipa',
 '25',
 '11',
 '15',
 'Muni Long',
 '32',
 '23',
 '6',
 'Flo Milli',
 '21',
 '18',
 '10',
 'Xavi',
 '22',
 '20',
 '10',
 'Luke Combs',
 '29',
 '26',
 '14',
 'Dua Lipa',
 '-',
 '27',
 '1',
 'Cody Johnson',
 '35',
 '28',
 '20',
 'Sabrina Carpenter',
 '42',
 '29',
 '12',
 'Billie Eilish',
 '27',
 '14',
 '31',
 'Drake Featuring Sexyy Red & SZA',
 '41',
 '11',
 '20',
 'Bryson Tiller',
 '-',
 '32',
 '1',
 'HARDY',
 '51',
 '33',
 '36',
 'Justin Timberlake',
 '37',
 '19',
 '4',
 'Nicki Minaj Featuring Lil Uzi Vert',
 '40',
 '24',
 '11',
 'Olivia Rodrigo',
 '43',
 '1',
 '31',
 'Jessie Murph & Jelly Roll',
 '45',
 '35',
 '20',
 'Victoria Monet',
 '44',
 '33',
 '23',
 'YG Marley',
 '63',
 '39',
 '4',
 'Jelly Roll With Lainey Wilson',
 '47',
 '19',
 '33',
 'Tate McRae',
 '49',
 '34',
 '14',
 'Yeat',
 '-',
 '42',
 '1',
 'Dua Lipa',
 '46',
 '6',
 '34',
 'Jelly Roll',
 '50',
 '13',
 '45',
 'JID Featuring 21 Savage & Baby Tate',
 '54',
 '40',
 '15',
 'Nate Smith',
 '56',
 '21',
 '17',
 'Usher Featuring Lil Jon & Ludacris',
 '20',
 '1',
 '47',
 'Parker McCollum',
 '60',
 '48',
 '18',
 'Usher, Summer Walker & 21 Savage',
 '36',
 '25',
 '28',
 'Xavi',
 '58',
 '46',
 '10',
 'Djo',
 '-',
 '51',
 '1',
 'BossMan Dlow',
 '59',
 '52',
 '3',
 '¥$: Kanye West & Ty Dolla $ign',
 '33',
 '33',
 '2',
 'Morgan Wallen Featuring Eric Church',
 '66',
 '15',
 '22',
 'Beyonce',
 '38',
 '38',
 '2',
 'Drake Featuring J. Cole',
 '57',
 '1',
 '20',
 '¥$: Kanye West & Ty Dolla $ign',
 '23',
 '23',
 '2',
 'The Weeknd, Jennie & Lily Rose Depp',
 '72',
 '57',
 '9',
 '¥$: Kanye West & Ty Dolla $ign',
 '26',
 '26',
 '2',
 'Rich Amiri',
 '68',
 '60',
 '4',
 'Karol G & Tiesto',
 '-',
 '61',
 '1',
 'Chayce Beckham',
 '77',
 '62',
 '8',
 'Sophie Ellis-Bextor',
 '73',
 '51',
 '8',
 'Drake',
 '74',
 '11',
 '14',
 'Ice Spice',
 '62',
 '37',
 '4',
 'Nicki Minaj',
 '71',
 '15',
 '11',
 'Travis Scott Featuring Playboi Carti',
 '76',
 '5',
 '17',
 'Megan Thee Stallion',
 '48',
 '1',
 '4',
 'Kane Brown',
 '82',
 '59',
 '8',
 'Don Toliver',
 '78',
 '38',
 '3',
 'Morgan Wallen',
 '70',
 '24',
 '4',
 '310babii',
 '84',
 '61',
 '10',
 'Noah Kahan',
 '28',
 '28',
 '2',
 'Thomas Rhett Featuring Morgan Wallen',
 '83',
 '55',
 '8',
 '4Batz',
 '81',
 '59',
 '7',
 'Kali Uchis & Peso Pluma',
 '69',
 '22',
 '6',
 '21 Savage, Travis Scott & Metro Boomin',
 '80',
 '10',
 '6',
 'Lainey Wilson',
 '-',
 '78',
 '4',
 'Peso Pluma & Anitta',
 '87',
 '53',
 '10',
 'Fuerza Regida & Marshmello',
 '85',
 '40',
 '16',
 'Jung Kook',
 '61',
 '5',
 '16',
 'Gunna',
 '-',
 '82',
 '1',
 'Drake Featuring Yeat',
 '88',
 '2',
 '20',
 'Good Neighbours',
 '-',
 '77',
 '3',
 '¥$: Kanye West & Ty Dolla $ign Featuring Lil Durk & Bump J',
 '34',
 '34',
 '2',
 'GloRilla',
 '89',
 '86',
 '2',
 'Dylan Gossett',
 '95',
 '86',
 '7',
 'BigXthaPlug',
 '96',
 '65',
 '9',
 'Yeat',
 '-',
 '89',
 '1',
 'Bad Bunny & Feid',
 '99',
 '20',
 '16',
 'Chris Brown Featuring Davido & Lojay',
 '-',
 '91',
 '3',
 'Zach Bryan',
 '-',
 '72',
 '17',
 'Fuerza Regida',
 '-',
 '93',
 '1',
 '¥$: Kanye West & Ty Dolla $ign',
 '52',
 '52',
 '2',
 'Offset & Don Toliver',
 '-',
 '92',
 '5',
 '¥$: Kanye West & Ty Dolla $ign Featuring North West',
 '30',
 '30',
 '2',
 'Bad Bunny',
 '97',
 '5',
 '19',
 'Bailey Zimmerman',
 '-',
 '32',
 '8',
 'The Red Clay Strays',
 '-',
 '71',
 '8',
 'Noah Kahan With Hozier',
 '75',
 '37',
 '12']

In [44]:
i = 0
art = []
lw = []
pk = []
nc = []
while i < len(lis):
    art.append(lis[i])
    lw.append(lis[i+1])
    pk.append(lis[i+2])
    nc.append(lis[i+3])
    i += 4

In [53]:
billboards = pd.DataFrame({'Song':song,'Artist':art,'Last week rank':lw,'Peak rank':pk,'Weeks on board':nc})

In [54]:
billboards

,Song,Artist,Last week rank,Peak rank,Weeks on board
0,Texas Hold 'Em,Beyonce,2,1,2
1,Lovin On Me,Jack Harlow,1,1,15
2,Lose Control,Teddy Swims,5,2,28
3,Carnival,¥$: Kanye West & Ty Dolla $ign Featuring Rich ...,3,3,2
4,Beautiful Things,Benson Boone,4,3,5
...,...,...,...,...,...
95,Talking,¥$: Kanye West & Ty Dolla $ign Featuring North...,30,30,2
96,Monaco,Bad Bunny,97,5,19
97,Where It Ends,Bailey Zimmerman,-,32,8
98,Wondering Why,The Red Clay Strays,-,71,8
99,Northern Attitude,Noah Kahan With Hozier,75,37,12

6. Scrape the details of Highest selling novels. 

A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre 

 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [2]:
#setting a driver
driver = webdriver.Chrome()

In [3]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [5]:
details = []
for i in driver.find_elements(By.XPATH,'//td[@class="left"]'):
    details.append(i.text)

In [18]:
i = 0
ran = []
book = []
author = []
sale = []
pub = []
while i < len(details):
    ran.append(details[i])
    book.append(details[i+1])
    author.append(details[i+2])
    sale.append(details[i+3])
    pub.append(details[i+4])
    i += 5

In [6]:
genre = []
for i in driver.find_elements(By.XPATH,'//td[@class="last left"]'):
    genre.append(i.text)

In [21]:
novels = pd.DataFrame({'Rank':ran,'Book':book,'Author':author,'Publisher':pub,'Volume Sold':sale,'Genre':genre})

In [22]:
novels

,Rank,Book,Author,Publisher,Volume Sold,Genre
0,1,"Da Vinci Code,The","Brown, Dan",Transworld,"5,094,805","Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.",Bloomsbury,"4,475,152",Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",Bloomsbury,"4,200,654",Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",Bloomsbury,"4,179,479",Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.",Random House,"3,758,936",Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert",Random House,"807,311",General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie",Penguin,"794,201",Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",Scholastic Ltd.,"792,187",Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",Orion,"791,507",Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",Penguin,"791,095",Food & Drink: General

 7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/ You have 
to find the following details: 

A) Name 
B) Year span 
C) Genre 
D) Run time 
E) Ratings 
F) Votes

In [23]:
#setting a driver
driver = webdriver.Chrome()

In [24]:
driver.get('https://www.imdb.com/list/ls088281706/')

In [25]:
ser = []
for i in driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a'):
    ser.append(i.text)

In [28]:
span = []
for i in driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]'):
    span.append(i.text)

In [31]:
run = []
for i in driver.find_elements(By.XPATH,'//span[@class="runtime"]'):
    run.append(i.text)

In [33]:
gen = []
for i in driver.find_elements(By.XPATH,'//span[@class="genre"]'):
    gen.append(i.text)

In [35]:
vote = []
for i in driver.find_elements(By.XPATH,'//span[@name="nv"]'):
    vote.append(i.text)

In [37]:
rate = []
for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]//span'):
    rate.append(i.text)

In [39]:
rate = list(filter(None, rate))

In [42]:
rate

['9.5',
 'Rate',
 '8.7',
 'Rate',
 '8.7',
 'Rate',
 '9.3',
 'Rate',
 '8.9',
 'Rate',
 '8.6',
 'Rate',
 '8.7',
 'Rate',
 '8.8',
 'Rate',
 '8.8',
 'Rate',
 '9',
 'Rate',
 '8.9',
 'Rate',
 '8.5',
 'Rate',
 '8.6',
 'Rate',
 '8.8',
 'Rate',
 '8.3',
 'Rate',
 '8.1',
 'Rate',
 '8.2',
 'Rate',
 '7.9',
 'Rate',
 '8.4',
 'Rate']

In [43]:
rating = rate[::2]
rating

['9.5',
 '8.7',
 '8.7',
 '9.3',
 '8.9',
 '8.6',
 '8.7',
 '8.8',
 '8.8',
 '9',
 '8.9',
 '8.5',
 '8.6',
 '8.8',
 '8.3',
 '8.1',
 '8.2',
 '7.9',
 '8.4']

In [45]:
imdb = pd.DataFrame({'Series':ser,'Ratings':rating,'Genre':gen,'Votes':vote,'Run time':run,'Year Span':span})

In [46]:
imdb

,Series,Ratings,Genre,Votes,Run time,Year Span
0,Breaking Bad,9.5,"Crime, Drama, Thriller","2,108,961",45 min,(2008–2013)
1,Stranger Things,8.7,"Drama, Fantasy, Horror","1,319,473",51 min,(2016–2025)
2,Dexter,8.7,"Crime, Drama, Mystery","759,300",55 min,(2006–2013)
3,Chernobyl,9.3,"Drama, History, Thriller","852,377",330 min,(2019)
4,True Detective,8.9,"Crime, Drama, Mystery","644,077",55 min,(2014– )
5,House of Cards,8.6,Drama,"528,202","3,804 min",(2013–2018)
6,Black Mirror,8.7,"Drama, Mystery, Sci-Fi","632,965",60 min,(2011– )
7,Narcos,8.8,"Biography, Crime, Drama","465,554",49 min,(I) (2015–2017)
8,Peaky Blinders,8.8,"Crime, Drama","637,145","2,109 min",(2013–2022)
9,Better Call Saul,9,"Crime, Drama","636,440","3,154 min",(2015–2022)
10,Fargo,8.9,"Crime, Drama, Thriller","416,282",53 min,(2014–2024)
11,Shameless,8.5,"Comedy, Drama","279,603",46 min,(2011–2021)
12,The Crown,8.6,"Biography, Drama, History","253,805",58 min,(2016–2023)
13,Succession,8.8,"Comedy, Drama","264,455","2,409 min",(2018–2023)
14,How I Met Your Mother,8.3,"Comedy, Drama, Romance","723,782","4,576 min",(2005–2014)
15,The Big Bang Theory,8.1,"Comedy, Romance","860,793","5,702 min",(2007–2019)
16,Money Heist,8.2,"Action, Crime, Drama","526,457",70 min,(2017–2021)
17,The Blacklist,7.9,"Crime, Drama, Mystery","277,119",43 min,(2013–2023)
18,The Handmaid's Tale,8.4,"Drama, Sci-Fi, Thriller","255,827",60 min,(2017– )

8. Details of Datasets from UCI machine learning repositories. 

Url = https://archive.ics.uci.edu/ You 
have to find the following details: 
    
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute G) Year

In [2]:
#setting a driver
driver = webdriver.Chrome()

In [3]:
driver.get('https://archive.ics.uci.edu/')

In [4]:
all_sets = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
all_sets.click()

In [20]:
ds = []
dt = []
tsk = []
inst = []

for i in driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]/a'):
    ds.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][2]'):
    dt.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][1]'):
    tsk.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][3]'):
    inst.append(i.text)

In [6]:
from selenium.webdriver.support import expected_conditions as EC

In [14]:
dropdown_xpath = '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]'


dropdown_elements = driver.find_elements(By.XPATH, dropdown_xpath)

for dropdown in dropdown_elements:
    try:
        driver.execute_script("arguments[0].scrollIntoView(true);", dropdown)
        
        WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, dropdown_xpath))) 

        dropdown.click()
    except Exception as e:
        print("An error occurred")

An error occurred
An error occurred

In [26]:
yr = []
att = []
natt = []
for i in driver.find_elements(By.XPATH,'//tbody[@class="border"]//td[3]'):
    yr.append(i.text)
for i in driver.find_elements(By.XPATH,'//tbody[@class="border"]//td[2]'):
    att.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][4]'):
    natt.append(i.text)

In [27]:
datasets = pd.DataFrame({'Dataset name':ds,'Type':dt,'Year published':yr,'Task':tsk,'No of instances':inst,'Attribute type':att,'No of attribute':natt})

In [28]:
datasets

,Dataset name,Type,Year published,Task,No of instances,Attribute type,No of attribute
0,Iris,Tabular,7/1/1988,Classification,150 Instances,Real,4 Features
1,Dry Bean Dataset,Multivariate,9/14/2020,Classification,13.61K Instances,"Integer, Real",16 Features
2,Heart Disease,Multivariate,7/1/1988,Classification,303 Instances,"Categorical, Integer, Real",13 Features
3,Rice (Cammeo and Osmancik),Multivariate,10/6/2019,Classification,3.81K Instances,Real,7 Features
4,Adult,Multivariate,5/1/1996,Classification,48.84K Instances,"Categorical, Integer",14 Features
5,Raisin,Multivariate,8/14/2023,Classification,900 Instances,"Real, Integer",8 Features
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,11/1/1995,Classification,569 Instances,Real,30 Features
7,Wine,Tabular,7/1/1991,Classification,178 Instances,"Integer, Real",13 Features
8,Wine Quality,Multivariate,10/7/2009,"Classification, Regression",4.9K Instances,Real,12 Features
9,Diabetes,"Multivariate, Time-Series",N/A,Classification,1 Instances,"Categorical, Integer",20 Features
10,Car Evaluation,Multivariate,6/1/1997,Classification,1.73K Instances,Categorical,6 Features
11,Bank Marketing,Multivariate,2/14/2012,Classification,45.21K Instances,"Categorical, Integer",17 Features
12,Mushroom,Multivariate,4/27/1987,Classification,8.12K Instances,Categorical,22 Features
13,Abalone,Tabular,12/1/1995,"Classification, Regression",4.18K Instances,"Categorical, Integer, Real",8 Features
14,Student Performance,Multivariate,11/27/2014,"Classification, Regression",649 Instances,Integer,33 Features
15,Census Income,Multivariate,5/1/1996,Classification,48.84K Instances,"Categorical, Integer",14 Features
16,Online Retail,"Multivariate, Sequential, Time-Series",11/6/2015,"Classification, Clustering",541.91K Instances,"Integer, Real",8 Features
17,Automobile,Multivariate,5/19/1987,Regression,205 Instances,"Categorical, Integer, Real",25 Features
18,Statlog (German Credit Data),Multivariate,11/17/1994,Classification,1K Instances,"Categorical, Integer",20 Features
19,Breast Cancer,Multivariate,7/11/1988,Classification,286 Instances,Categorical,9 Features
20,Auto MPG,Multivariate,7/7/1993,Regression,398 Instances,"Real, Categorical, Integer",7 Features
21,Breast Cancer Wisconsin (Original),Multivariate,7/15/1992,Classification,699 Instances,Integer,9 Features
22,Spambase,Multivariate,7/1/1999,Classification,4.6K Instances,"Integer, Real",57 Features
23,Predict Students' Dropout and Academic Success,Tabular,12/13/2021,Classification,4.42K Instances,"Real, Categorical, Integer",36 Features
24,Glass Identification,Multivariate,9/1/1987,Classification,214 Instances,Real,9 Features